
body {
	margin: 0 auto;
	padding: 0;
    /* background:lightblue; */
    background:white;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Times New Roman';
}
.box1 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.box {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: black;
}
.form {
    top: 25%;
    height: auto;
    display: flex;
    position: absolute;
    width: 400px;
    max-width: 50%;
    padding: 40px 40px 40px;
    background-color: rgba(0,0,0,0.7);
	border-radius: 50px 50px 50px 50px;
    color: white;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.form1 {
    height: 0px;
    display: flex;
    position: relative;
    width: 400px;
    max-width: 50%;
    padding: 40px 40px 40px;
}


.upload-btn {
    display: block;
    margin: 10px 0px 40px 0px;
    width: 100%;
    border: none;
    outline: invert;
    color: black;
    background: lightcyan;
    font-size: 0.8rem;
    padding: 10px 20px;
    cursor: pointer;
}
.submit-btn {
    width: 100%;
	height: 40px;
    display: block;
    margin:auto;
	color: white;
	margin: 14px 0 10px 0;
	background-color:red;
    text-transform: uppercase;
	border: none;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
	border-radius: 4px 10px 4px 10px ;
	font-size: 16px;
}
.form a:hover{
	color: green;
}
.form input[type="submit"]:hover{
	background-color: white;
	color: red;
	font-weight: bold;
}
.form1 a:hover{
	color: green;
}
.form1 input[type="submit"]:hover{
	background-color: white;
	color: red;
	font-weight: bold;
}

img{
    margin-right: 30px;   
    border: 2px solid red;
 }

 .form h3 {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

.form .input-group label {
    position: relative;
    padding: 10px 10px;
    pointer-events: none;
    transform: translateY(-30px);
    transition: 0.3s ease-out;
    color: lightblue;
    font-size: 1rem;
}

.form .input-group input {
    position: relative;
    width: 100%;
    padding: 10px 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: rgba(200, 200, 200, 0.1);
    color: inherit;
}